# [2026-05-21] | 初始导入 | — | 从 assets/opendoc/seal3/ 忠实导入
# [待升级] 多处不合规项（忠实导入，后续渐进维护）

openapi: 3.1.0
info:
  title: e签宝 印章管理 API
  description: |
    e签宝 SaaS API V3 — 印章管理（个人/机构印章 CRUD、印章授权、印章图片上传、相关回调通知）

    关联 PRD：F-005

    ## 鉴权说明
    所有接口使用 e签宝签名鉴权，请求头需携带 `X-Tsign-Open-App-Id`、
    `X-Tsign-Open-TIMESTAMP`、`X-Tsign-Open-SIGNATURE`、
    `X-Tsign-Open-SIGNATURE-ALGORITHM` 四个请求头。

    ## 权限说明
    - 个人印章接口需用户授权 `manage_psn_resource`；
    - 机构印章接口需企业用户授权 `manage_org_seal`。
  version: "3.0"
  contact:
    name: e签宝开放平台
    url: https://open.esign.cn

servers:
  - url: https://openapi.esign.cn
    description: 正式环境
  - url: https://smlopenapi.esign.cn
    description: 沙箱环境

tags:
  - name: 个人印章
    description: 个人印章的创建（模板/图片）、查询、删除、默认印章设置
  - name: 机构印章
    description: 机构印章的创建（模板/图片/法定代表人）、查询、删除、启停、默认印章设置
  - name: 印章授权
    description: 企业印章的内部成员授权、跨企业授权、授权期限管理、解除授权、授权信息查询
  - name: 印章图片上传
    description: 获取印章图片上传地址，用于本地印章图片创建
  - name: 印章回调
    description: 印章生命周期相关回调通知（创建、删除、审核、授权变更等）

components:
  securitySchemes:
    signatureAuth:
      type: apiKey
      in: header
      name: X-Tsign-Open-App-Id
      description: |
        e签宝请求签名鉴权。请求头需同时携带以下四个字段：
        - `X-Tsign-Open-App-Id`：应用 ID
        - `X-Tsign-Open-TIMESTAMP`：毫秒级时间戳
        - `X-Tsign-Open-SIGNATURE`：签名值（hmac-sha256）
        - `X-Tsign-Open-SIGNATURE-ALGORITHM`：签名算法，固定值 `hmac-sha256`

  schemas:
    CommonResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: 业务码，0表示成功，非0表示异常
        message:
          type: string
          description: 业务信息（请根据 code 判断错误情况，不应依赖 message 匹配）
        data:
          type: object
          nullable: true
          description: 业务数据

    SealIdResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            sealId:
              type: string
              description: 印章ID（开发者需妥善保存印章ID）

    SealColor:
      type: string
      description: 印章颜色。RED-红色，BLUE-蓝色，BLACK-黑色，PURPLE-紫色
      enum: [RED, BLUE, BLACK, PURPLE]

    SealCreateMode:
      type: string
      description: 制章方式。template-按照模板制作印章，file-上传本地图片制作印章
      enum: [template, file]

    PsnSealTemplateStyle:
      type: string
      description: |
        个人模板印章样式：
        RECTANGLE_NO_BORDER-不带边框长方形章；RECTANGLE_BORDER-带边框长方形章；
        SQUARE_LEFT_BORDER-带边框正方形章（左侧字体放大）；SQUARE_RIGHT_BORDER-带边框正方形章（右侧字体放大）；
        SQUARE_LEFT_NO_BORDER-不带边框正方形章（左侧字体放大）；SQUARE_RIGHT_NO_BORDER-不带边框正方形章（右侧字体放大）
      enum:
        - RECTANGLE_NO_BORDER
        - RECTANGLE_BORDER
        - SQUARE_LEFT_BORDER
        - SQUARE_RIGHT_BORDER
        - SQUARE_LEFT_NO_BORDER
        - SQUARE_RIGHT_NO_BORDER

    OrgSealTemplateStyle:
      type: string
      description: |
        机构模板印章样式：
        PUBLIC_ROUND_STAR-圆形公章（带五角星）；PUBLIC_OVAL-椭圆形公章（不带五角星）；PUBLIC_TWO_OVAL-双椭圆形公章（不带五角星）；
        CONTRACT_ROUND_NO_STAR/CONTRACT_ROUND_STAR-合同专用章（圆形）；
        PERSONNEL_ROUND_NO_STAR/PERSONNEL_ROUND_STAR-人事专用章（圆形）；
        FINANCE_ROUND_NO_STAR/FINANCE_ROUND_STAR-财务专用章（圆形）；
        FINANCE_SQUARE_HORIZONTAL/FINANCE_SQUARE_VERTICAL-财务专用章（正方形）；
        COMMON_ROUND_STAR/COMMON_OVAL/COMMON_TWO_OVAL-其他章
      enum:
        - PUBLIC_ROUND_STAR
        - PUBLIC_OVAL
        - PUBLIC_TWO_OVAL
        - CONTRACT_ROUND_NO_STAR
        - CONTRACT_ROUND_STAR
        - PERSONNEL_ROUND_NO_STAR
        - PERSONNEL_ROUND_STAR
        - FINANCE_ROUND_NO_STAR
        - FINANCE_ROUND_STAR
        - FINANCE_SQUARE_HORIZONTAL
        - FINANCE_SQUARE_VERTICAL
        - COMMON_ROUND_STAR
        - COMMON_OVAL
        - COMMON_TWO_OVAL

    SealBizType:
      type: string
      description: 印章业务类型。PUBLIC-公章，CONTRACT-合同专用章,FINANCE-财务专用章，PERSONNEL-人事专用章，LEGAL_PERSON-法定代表人章，COMMON-其他
      enum: [PUBLIC, CONTRACT, FINANCE, PERSONNEL, LEGAL_PERSON, COMMON]

    SealSuffix:
      type: integer
      format: int32
      description: 印章后缀格式。0-无后缀，1-加"印"，2-加"之印"
      enum: [0, 1, 2]
      default: 0

    SealOldStyle:
      type: string
      description: 印章图片做旧。NONE-不做旧，OLD-随机做旧，OLD_1~OLD_12-指定做旧样式
      default: NONE

    # ===== 个人印章相关 schema =====
    PsnSealCreateUrlRequest:
      type: object
      required: [psnId, redirectUrl]
      properties:
        psnId: {type: string, description: 个人账号ID}
        customBizNum:
          type: string
          description: 自定义业务编号，接口不对该参数的值做重复性校验
        sealName:
          type: string
          description: 印章名称（用户自定义，名称不可重复）
        sealCreateMode:
          $ref: '#/components/schemas/SealCreateMode'
        sealTemplateStyle:
          $ref: '#/components/schemas/PsnSealTemplateStyle'
        sealSize:
          type: string
          description: 个人印章尺寸（毫米mm），格式 宽_高。长方形固定 20_10；正方形固定 20_20/18_18/16_16
        sealColor:
          $ref: '#/components/schemas/SealColor'
        sealSuffix:
          $ref: '#/components/schemas/SealSuffix'
        sealOpacity:
          type: integer
          format: int32
          minimum: 20
          maximum: 100
          default: 80
          description: 印章不透明度（默认80），取值 20-100，100 表示不透明
        redirectUrl:
          type: string
          description: 重定向地址（http/https，app 场景支持 appScheme 格式）
        uneditableFields:
          type: array
          items: {type: string}
          description: |
            页面中不可编辑的字段：sealCreateMode/sealName/sealSuffix/
            sealTemplateStyle/sealSize/sealColor/sealOpacity

    PsnSealCreateUrlResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            psnSealCreateUrl:
              type: string
              description: 创建个人印章页面链接（有效期30分钟）

    PsnSealManageUrlResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            psnSealManageUrl:
              type: string
              description: 个人印章管理页面链接（有效期30分钟）

    PsnSealCreateByTemplateRequest:
      type: object
      required: [psnId, sealName, sealTemplateStyle, sealSize]
      properties:
        psnId: {type: string, description: 个人账号ID}
        sealName: {type: string, description: 印章名称（用户自定义，且名称不可重复）}
        sealTemplateStyle:
          $ref: '#/components/schemas/PsnSealTemplateStyle'
        sealSize:
          type: string
          description: 个人印章尺寸（毫米mm），格式 宽_高
        sealColor:
          $ref: '#/components/schemas/SealColor'
        sealSuffix:
          $ref: '#/components/schemas/SealSuffix'
        sealOpacity:
          type: integer
          format: int32
          minimum: 20
          maximum: 100
          default: 80
        sealOldStyle:
          $ref: '#/components/schemas/SealOldStyle'

    PsnSealCreateByImageRequest:
      type: object
      required: [psnId, sealImageFileKey, sealName, sealWidth, sealHeight]
      properties:
        psnId: {type: string, description: 个人账号ID}
        sealImageFileKey:
          type: string
          description: 印章图片的 fileKey，由【上传印章图片】接口获取
        sealName: {type: string, description: 印章名称（不可重复）}
        sealWidth:
          type: integer
          format: int32
          maximum: 100
          description: 印章宽度（mm），上限 100
        sealHeight:
          type: integer
          format: int32
          maximum: 100
          description: 印章高度（mm），上限 100
        sealColor:
          $ref: '#/components/schemas/SealColor'
        manualAudit:
          type: boolean
          default: false
          description: 是否直接走 e签宝人工审核（true 时必须传 sealFilingMaterials）
        sealFilingMaterials:
          type: array
          items: {type: string}
          description: 印章备案材料 fileKey，支持 jpg/jpeg/png/bmp/doc/pdf，单文件 ≤2M

    PsnSealInfo:
      type: object
      properties:
        sealId: {type: string, description: 印章ID}
        sealName: {type: string, description: 印章名称}
        sealCreateTime:
          type: integer
          format: int64
          description: 印章创建时间（Unix 毫秒时间戳）
        defaultSealFlag:
          type: boolean
          description: 是否为个人默认印章
        sealHeight: {type: integer, format: int32, description: 印章高度（mm）}
        sealWidth: {type: integer, format: int32, description: 印章宽度（mm）}
        sealStyle:
          type: integer
          format: int32
          description: 印章制作方式。2-个人模板印章，3-图片印章，4-个人手绘印章
        sealStatus:
          type: integer
          format: int32
          description: 印章状态。1-已启用，2-待审核，3-审核不通过
        statusDescription: {type: string, description: 印章状态描述}
        rejectReason: {type: string, description: 审核不通过原因}
        sealImageDownloadUrl:
          type: string
          description: 印章图片（带水印）下载地址（有效期60分钟）

    PsnSealInfoResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          $ref: '#/components/schemas/PsnSealInfo'

    PsnSealListResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            total:
              type: integer
              format: int64
              description: 查询印章记录条数
            seals:
              type: array
              items:
                $ref: '#/components/schemas/PsnSealInfo'

    # ===== 机构印章相关 schema =====
    OrgSealCreateUrlRequest:
      type: object
      required: [orgId, transactorPsnId, redirectUrl]
      properties:
        orgId: {type: string, description: 机构账号ID}
        transactorPsnId:
          type: string
          description: 经办人个人账号ID，需在该机构成员中并拥有印章管理权限
        customBizNum:
          type: string
          description: 自定义业务编号，接口不对该参数的值做重复性校验
        sealName: {type: string, description: 机构印章名称（不可重复）}
        sealCreateMode:
          $ref: '#/components/schemas/SealCreateMode'
        sealTemplateStyle:
          $ref: '#/components/schemas/OrgSealTemplateStyle'
        sealSize:
          type: string
          description: 机构印章尺寸（毫米mm），格式 宽_高，按所选模板样式取值
        sealColor:
          $ref: '#/components/schemas/SealColor'
        sealSuffix:
          type: string
          description: 印章后缀（不对外，内部字段）
        sealOpacity:
          type: integer
          format: int32
          minimum: 20
          maximum: 100
          default: 80
        sealHorizontalText:
          type: string
          description: 印章横排文字（不对外，内部字段）
        sealBottomText:
          type: string
          description: 印章底部文字（不对外，内部字段）
        sealOutsideSurroundText:
          type: string
          description: 印章外圈环绕文字（不对外，内部字段）
        redirectUrl:
          type: string
          maxLength: 1024
          description: 重定向地址（https），不超过 1024 个字符
        uneditableFields:
          type: array
          items: {type: string}
          description: |
            页面中不可编辑的字段：sealCreateMode/sealName/sealTemplateType/
            sealTemplateStyle/sealSize/sealColor/sealOpacity/sealSuffix/
            sealHorizontalText/sealBottomText/sealOutsideSurroundText

    OrgSealCreateUrlResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            orgSealCreateUrl:
              type: string
              description: 创建机构印章页面链接（有效期30分钟）

    LegalRepSealCreateUrlRequest:
      type: object
      required: [orgId, transactorPsnId, redirectUrl]
      properties:
        orgId: {type: string, description: 机构账号ID}
        transactorPsnId:
          type: string
          description: 经办人个人账号ID（建议由法定代表人本人操作）
        customBizNum: {type: string, description: 自定义业务编号}
        sealName: {type: string, description: 法定代表人印章名称（不可重复）}
        sealCreateMode:
          $ref: '#/components/schemas/SealCreateMode'
        sealTemplateStyle:
          $ref: '#/components/schemas/PsnSealTemplateStyle'
        sealSize:
          type: string
          description: 印章尺寸（毫米mm），长方形 20_10；正方形 20_20/18_18/16_16
        sealColor:
          $ref: '#/components/schemas/SealColor'
        sealOpacity:
          type: integer
          format: int32
          minimum: 20
          maximum: 100
          default: 80
        redirectUrl:
          type: string
          maxLength: 1024
        uneditableFields:
          type: array
          items: {type: string}

    LegalRepSealCreateUrlResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            legalRepSealCreateUrl:
              type: string
              description: 创建机构法定代表人印章页面链接(有效期30分钟)

    OrgSealManageUrlResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            orgSealManageUrl:
              type: string
              description: 机构印章管理页面链接（有效期30分钟）

    OrgSealCreateByTemplateRequest:
      type: object
      required: [orgId, sealName, sealTemplateStyle, sealSize]
      properties:
        orgId: {type: string, description: 机构账号ID}
        sealName: {type: string, description: 机构印章名称（不可重复）}
        sealTemplateStyle:
          $ref: '#/components/schemas/OrgSealTemplateStyle'
        sealSize:
          type: string
          description: 机构印章尺寸（毫米mm），格式 宽_高
        sealColor:
          $ref: '#/components/schemas/SealColor'
        sealOpacity:
          type: integer
          format: int32
          minimum: 20
          maximum: 100
          default: 80
        sealOldStyle:
          $ref: '#/components/schemas/SealOldStyle'
        sealHorizontalText:
          type: string
          maxLength: 30
          description: 自定义印章横向文，示例 "XX专用章"，最多 30 个字符
        sealBottomText:
          type: string
          maxLength: 30
          description: 印章下弦文（实体印章防伪码），仅英文/英文符号，最多 30 个字符
        sealOutsideSurroundText:
          type: string
          maxLength: 50
          description: 印章环绕文（英文），双椭圆公章外侧文字，仅英文/英文符号，最多 50 个字符

    OrgSealCreateByImageRequest:
      type: object
      required: [orgId, sealImageFileKey, sealName, sealWidth, sealHeight]
      properties:
        orgId: {type: string, description: 机构账号ID}
        sealImageFileKey:
          type: string
          description: 印章图片的 fileKey，由【上传印章图片】接口获取
        sealName: {type: string, description: 印章名称（不可重复）}
        sealWidth:
          type: integer
          format: int32
          maximum: 100
          description: 印章宽度（mm），上限 100
        sealHeight:
          type: integer
          format: int32
          maximum: 100
          description: 印章高度（mm），上限 100
        sealColor:
          $ref: '#/components/schemas/SealColor'
        sealBizType:
          $ref: '#/components/schemas/SealBizType'
        imageProcess:
          type: boolean
          default: true
          description: 是否对图片做背景处理（抠图与颜色绘制），默认 true
        manualAudit:
          type: boolean
          default: false
          description: 是否直接走 e签宝人工审核（true 时必须传 sealFilingMaterials）
        sealFilingMaterials:
          type: array
          items: {type: string}
          description: 印章备案材料 fileKey，支持 jpg/jpeg/png/bmp/doc/pdf，单文件 ≤2M

    OrgSealDeleteResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            sealStatus:
              type: string
              description: 删除印章状态。delete-已删除（未被使用过，完全删除）；revoke-已吊销（被使用过，用印记录保留）
              enum: [delete, revoke]

    OrgSealInfo:
      type: object
      properties:
        sealId: {type: string, description: 印章ID（印章编号）}
        sealName: {type: string, description: 印章名称}
        sealCreateTime:
          type: integer
          format: int64
          description: 印章创建时间（Unix 毫秒时间戳）
        defaultSealFlag:
          type: boolean
          description: 是否为机构默认印章
        sealHeight: {type: integer, format: int32, description: 印章高度（mm）}
        sealWidth: {type: integer, format: int32, description: 印章宽度（mm）}
        sealBizType:
          $ref: '#/components/schemas/SealBizType'
        sealBizTypeDescription:
          type: string
          description: 印章业务类型说明
        sealStyle:
          type: integer
          format: int32
          description: 印章制作方式。1-机构模板章，3-图片印章（上传本地文件）
        sealStatus:
          type: integer
          format: int32
          description: |
            印章状态。1-已启用，2-待审核，3-审核不通过，
            4-挂起或已停用（挂起仅限法人/管理员更换后未重新授权的法定代表人章状态），
            6-已吊销（有用印记录的印章删除后）
        statusDescription: {type: string, description: 印章状态描述}
        rejectReason: {type: string, description: 图片印章审核不通过原因}
        sealImageDownloadUrl:
          type: string
          description: 印章图片（带水印）下载地址（有效期60分钟）

    OrgSealInfoResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          $ref: '#/components/schemas/OrgSealInfo'

    OrgSealListResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            total:
              type: integer
              format: int64
              description: 查询印章总数
            seals:
              type: array
              items:
                $ref: '#/components/schemas/OrgSealInfo'

    SealImageUploadInfoResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            fileKey:
              type: string
              description: 印章图片的 fileKey（开发者需妥善保存，可用于创建图片印章）
            fileUploadUrl:
              type: string
              description: 印章图片服务端上传地址，链接有效期 60 分钟

    # ===== 印章授权相关 schema =====
    InternalSealAuthRequest:
      type: object
      required: [orgId, sealId, authorizedPsnIds, sealRole, transactorPsnId, sealAuthScope]
      properties:
        orgId:
          type: string
          description: 机构账号ID
        sealId:
          type: string
          description: 授权印章ID（企业印章编号）
        authorizedPsnIds:
          type: array
          items:
            type: string
          description: |
            指定被授权成员（账号ID或ALL）：
            - 被授权人账号ID列表（最多10个）；
            - ALL - 授权全部企业成员（此时 sealRole 只能是 SEAL_USER）。
        sealRole:
          type: string
          enum: [SEAL_USER, SEAL_EXAMINER]
          description: |
            印章角色：
            SEAL_USER - 印章使用员；
            SEAL_EXAMINER - 印章审批员（含用印审批权限）。
        transactorPsnId:
          type: string
          description: 授权操作人账号ID（建议为企业管理员或法定代表人）
        sealAuthScope:
          type: object
          description: 授权印章使用范围（templateIds 和 applicationsIds 必须二选一）
          properties:
            templateIds:
              type: array
              items: {type: string}
              description: 授权的企业模板编号列表（模板编号或ALL），最多10个
            applicationsIds:
              type: array
              items: {type: string}
              description: 授权的开发者应用ID列表（appId）
        autoSign:
          type: boolean
          default: false
          description: |
            印章是否设置自动落章。
            (1) 必须授权全部企业成员且指定具体模板编号；
            (2) 仅限《流程模板签署服务API》和官网模板发起签署使用；
            (3) 同一模板只能授权对应企业下某一个印章自动落章。
        longTermEffective:
          type: boolean
          default: false
          description: 是否长期有效（true 时不能再传 effectiveTime/expireTime）
        effectiveTime:
          type: integer
          format: int64
          description: 授权生效时间（毫秒时间戳，longTermEffective=false 时必传）
        expireTime:
          type: integer
          format: int64
          description: 授权失效时间（毫秒时间戳，最长不超过3年，longTermEffective=false 时必传）
        authConfirmMethod:
          type: integer
          format: int32
          default: 1
          enum: [0, 1]
          description: |
            授权确认方式：
            0 - 意愿认证授权（管理员/法人刷脸）；
            1 - 签署授权书授权（默认）。
        redirectUrl:
          type: string
          description: 授权完成后重定向跳转地址
        customBizNum:
          type: string
          description: 自定义业务编号
        appScheme:
          type: string
          description: 开发者 app-Scheme 地址，支付宝刷脸后跳回开发者 app

    InternalSealAuthResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            sealAuthBizIds:
              type: array
              items: {type: string}
              description: 授权业务流程编号列表
            sealAuthBizInfos:
              type: array
              items:
                type: object
                properties:
                  authorizedPsnId: {type: string}
                  sealAuthBizId: {type: string}
            authorizationSignShortUrl:
              type: string
              description: 授权书签署短链接（有效期180天）
            authorizationSignUrl:
              type: string
              description: 授权书签署长链接（永久有效）
            sealAuthorizeType:
              type: integer
              description: 授权操作人企业成员角色（1-管理员/法定代表人；2-普通成员）

    ExternalSealAuthRequest:
      type: object
      required: [orgId, sealIds, transactorPsnId, authorizedOrgInfo]
      properties:
        orgId:
          type: string
          description: 机构账号ID（委托机构）
        sealIds:
          type: array
          items: {type: string}
          description: 授权印章ID列表（含法定代表人印章）
        sealId:
          type: string
          deprecated: true
          description: 授权印章ID（旧版，2024-11-20 起弃用）
        transactorPsnId:
          type: string
          description: 授权操作人账号ID（委托机构的法人或管理员）
        authorizedOrgInfo:
          type: object
          required: [orgName, orgIDCardNum]
          properties:
            orgName: {type: string, description: 被授权机构名称}
            orgIDCardNum: {type: string, description: 被授权机构证件号（统一社会信用代码 或 工商注册号）}
        longTermEffective:
          type: boolean
          default: false
        effectiveTime:
          type: integer
          format: int64
        expireTime:
          type: integer
          format: int64
        authorizedType:
          type: integer
          format: int32
          default: 0
          enum: [0, 1]
          description: |
            授权印章使用对象：
            0 - 被授权企业的管理员/法定代表人（不限应用ID）；
            1 - 被授权企业下的应用（必须配合 applicationsId）。
        applicationsId:
          type: string
          description: 被授权企业下的开发者应用ID（authorizedType=1 时必传）
        redirectUrl:
          type: string
        appScheme:
          type: string
        customBizNum:
          type: string
          description: 自定义业务编号
        autoSign:
          type: boolean
          default: false
          description: 印章是否设置自动落章（仅限授权全部企业成员且指定具体模板编号时使用）

    ExternalSealAuthResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            authorizationSignShortUrl:
              type: string
              description: 授权书签署短链（有效期180天）
            authorizationSignUrl:
              type: string
              description: 授权书签署长链（永久有效）
            sealAuthBizIds:
              type: array
              items:
                type: object
                properties:
                  sealId: {type: string}
                  sealAuthBizId: {type: string}
            sealAuthBizId:
              type: string
              deprecated: true
              description: 授权业务流程编号（旧版，2024-11-20 起改用 sealAuthBizIds 数组）

    SealReauthorizationRequest:
      type: object
      required: [orgId, transactorPsnId, sealAuthBizId]
      properties:
        orgId: {type: string}
        transactorPsnId:
          type: string
          description: 授权操作人账号ID（法定代表人或管理员）
        sealAuthBizId:
          type: string
          description: 原授权业务流程编号
        longTermEffective:
          type: boolean
          default: false
        effectiveTime:
          type: integer
          format: int64
        expireTime:
          type: integer
          format: int64
        redirectUrl:
          type: string
          maxLength: 1024
        appScheme:
          type: string

    SealReauthorizationResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            newSealAuthBizId:
              type: string
              description: 新的授权业务流程编号
            authorizationSignShortUrl:
              type: string
              description: 授权书签署短链接（有效期30天）
            authorizationSignUrl:
              type: string
              description: 授权书签署长链接

    SealAuthDeleteRequest:
      type: object
      required: [orgId, deleteType]
      properties:
        orgId:
          type: string
          description: 机构账号ID（委托单位）
        deleteType:
          type: string
          enum: [sealIds, sealAuthBizIds]
          description: |
            解除授权方式：
            sealIds - 按印章解除；
            sealAuthBizIds - 按授权业务流程编号解除。
        sealIds:
          type: array
          items: {type: string}
          maxItems: 20
          description: 印章ID列表（deleteType=sealIds 时必传）
        sealAuthBizIds:
          type: array
          items: {type: string}
          maxItems: 20
          description: 授权业务流程编号列表（deleteType=sealAuthBizIds 时必传）

    SealAuthSignUrlResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            authorizationSignShortUrl:
              type: string
              description: 短链接（有效期180天）
            authorizationSignUrl:
              type: string
              description: 长链接（永久有效）

    AuthorizedSealInfo:
      type: object
      properties:
        sealId: {type: string}
        authorizerOrgId: {type: string}
        authorizerOrgName: {type: string}
        sealAuthBizId: {type: string}
        sealName: {type: string}
        sealBizType:
          type: string
          enum: [PUBLIC, CONTRACT, FINANCE, PERSONNEL, LEGAL_PERSON, COMMON]
        sealBizTypeDescription: {type: string}
        sealStyle:
          type: integer
          format: int32
          description: 制作方式（1-机构模板章；3-图片印章）
        effectiveTime:
          type: integer
          format: int64
        expireTime:
          type: integer
          format: int64
        sealImageDownloadUrl:
          type: string
          description: 印章图片（带水印）下载地址（60分钟有效）
        sealHeight: {type: integer, format: int32}
        sealWidth: {type: integer, format: int32}

    AuthorizedSealListResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            total:
              type: integer
              format: int64
            seals:
              type: array
              items:
                $ref: '#/components/schemas/AuthorizedSealInfo'

    ExternalSealAuthDetailInfo:
      type: object
      properties:
        sealId: {type: string}
        authorizerPsnId: {type: string}
        authorizedOrgId: {type: string}
        sealAuthBizId: {type: string}
        authorizeStatus:
          type: integer
          format: int32
          enum: [0, 1, 3]
          description: 0-失效；1-正常；3-待生效
        statusDescription: {type: string}
        expireReason:
          type: string
          enum: [NOT_EXPIRE, NOT_SIGN, WAIT_EFFECTIVE, EXPIRED, GRANT_ORG_ACCOUNT_UPDATE, GRANTER_ACCOUNT_UPDATE, GRANTED_ACCOUNT_UPDATE]
        expireReasonDescription: {type: string}
        longTermEffective: {type: boolean}
        effectiveTime: {type: integer, format: int64}
        expireTime: {type: integer, format: int64}
        signFlowId: {type: string}
        authorizedType:
          type: integer
          format: int32
          enum: [0, 1]
        authorizedApplication:
          type: string
          nullable: true

    ExternalSealAuthDetailResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            total: {type: integer, format: int32}
            sealAuthorizedInfos:
              type: array
              items:
                $ref: '#/components/schemas/ExternalSealAuthDetailInfo'

    InternalSealAuthDetailInfo:
      type: object
      properties:
        sealId: {type: string}
        sealAuthBizId: {type: string}
        authorizerPsnId: {type: string}
        authorizedPsnId:
          type: string
          description: 被授权成员账号ID，可能为 ALL
        sealRole:
          type: string
          enum: [SEAL_EXAMINER, SEAL_USER]
        authorizeStatus:
          type: integer
          format: int32
          enum: [0, 1, 3]
        statusDescription: {type: string}
        expireReason:
          type: string
          enum: [NOT_EXPIRE, NOT_SIGN, WAIT_EFFECTIVE, EXPIRED, GRANT_ORG_ACCOUNT_UPDATE, GRANTER_ACCOUNT_UPDATE, GRANTED_ACCOUNT_UPDATE]
        expireReasonDescription: {type: string}
        longTermEffective: {type: boolean}
        effectiveTime: {type: integer, format: int64}
        expireTime: {type: integer, format: int64}
        signFlowId: {type: string}
        sealAuthScope:
          type: object
          properties:
            template:
              type: object
              properties:
                templateId:
                  type: string
                  description: 模板编号或 ALL
                applicationsIds:
                  type: string
                  nullable: true
            autoSign: {type: boolean}

    InternalSealAuthDetailResponse:
      type: object
      properties:
        code: {type: integer, format: int32}
        message: {type: string}
        data:
          type: object
          properties:
            total: {type: integer, format: int32}
            sealAuthorizedInfos:
              type: array
              items:
                $ref: '#/components/schemas/InternalSealAuthDetailInfo'

    # ===== webhook payload schema =====
    SealAuthEffictivePayload:
      type: object
      required: [action, sealAuthType, sealId, sealAuthBizId, authStatus, authorizerOrgId, bodyVersion, effectiveTime, expireTime]
      properties:
        action: {type: string, enum: [SEAL_AUTH_EFFICTIVE]}
        sealAuthType:
          type: string
          enum: [SINGLE_SEAL, PLATFORM_BATCH]
        sealId:
          type: string
          description: 印章ID（PLATFORM_BATCH 时返回 CURRENT_ALL）
        sealAuthBizId:
          type: string
          description: 授权业务流程编号/认证授权流程ID（authFlowId）
        authStatus:
          type: string
          description: 1-生效；0-失效；2-已删除；3-待生效（此通知固定为1）
        authorizerOrgId: {type: string}
        authorizedPsnId:
          type: string
          description: 仅企业内部成员授权时返回
        authorizedOrgId:
          type: string
          description: 仅跨企业授权时返回
        bodyVersion: {type: string, default: V3}
        effectiveTime: {type: integer, format: int64}
        expireTime: {type: integer, format: int64}

    SealAuthSignPayload:
      type: object
      required: [action, sealId, sealAuthBizId, authStatus, authConfirmMethod, sealAuthType, authorizerOrgId, bodyVersion, effectiveTime, expireTime, signFlowId]
      properties:
        action: {type: string, enum: [SEAL_AUTH_SIGN]}
        sealId: {type: string}
        sealAuthBizId: {type: string}
        authStatus:
          type: integer
          format: int32
          enum: [0, 1, 2, 3]
        authConfirmMethod:
          type: integer
          format: int32
          enum: [0, 1]
          description: 0-意愿认证授权（仅内部成员授权）；1-签署授权书授权
        sealAuthType:
          type: string
          enum: [SINGLE_SEAL, PLATFORM_BATCH]
        authorizerOrgId: {type: string}
        authorizedPsnId: {type: string}
        authorizedOrgId: {type: string}
        bodyVersion: {type: string}
        effectiveTime: {type: integer, format: int64}
        expireTime: {type: integer, format: int64}
        signFlowId: {type: string}

    SealAuthExpirePayload:
      type: object
      description: 用于 SEAL_AUTH_NEARLY_EXPIRED / SEAL_AUTH_INEFFICTIVE / SEAL_AUTH_CALCEL 三类通知
      required: [action, sealAuthType, sealId, sealAuthBizId, authStatus, authorizerOrgId, bodyVersion, effectiveTime, expireTime]
      properties:
        action:
          type: string
          enum: [SEAL_AUTH_NEARLY_EXPIRED, SEAL_AUTH_INEFFICTIVE, SEAL_AUTH_CALCEL]
        sealAuthType:
          type: string
          enum: [SINGLE_SEAL, PLATFORM_BATCH]
        sealId: {type: string}
        sealAuthBizId: {type: string}
        authStatus:
          type: string
          description: NEARLY_EXPIRED 固定1；INEFFICTIVE 固定0；CALCEL 固定2
        authorizerOrgId: {type: string}
        authorizedPsnId: {type: string}
        authorizedOrgId: {type: string}
        bodyVersion: {type: string}
        effectiveTime: {type: integer, format: int64}
        expireTime: {type: integer, format: int64}

    SealAuditPayload:
      type: object
      required: [action, sealId, sealName, auditStatus, statusDescription, bodyVersion]
      properties:
        action: {type: string, enum: [SEAL_AUDIT]}
        sealId: {type: string}
        sealName: {type: string}
        auditStatus:
          type: string
          enum: ["0", "1"]
          description: 1-通过；0-驳回
        statusDescription: {type: string}
        customBizNum: {type: string}
        rejectReason: {type: string}
        psnId: {type: string}
        orgId: {type: string}
        sealBizType:
          type: string
          enum: [PUBLIC, CONTRACT, FINANCE, LEGAL_PERSON, COMMON]
        bodyVersion: {type: string}

    SealCreatePayload:
      type: object
      required: [action, sealId, sealName, sealCreateMode, bodyVersion]
      properties:
        action: {type: string, enum: [SEAL_CREATE]}
        sealId: {type: string}
        customBizNum: {type: string}
        sealName: {type: string}
        sealCreateMode:
          type: string
          enum: [template, file, hand-draw]
        psnId: {type: string}
        orgId: {type: string}
        sealBizType:
          type: string
          enum: [PUBLIC, CONTRACT, PERSONNEL, FINANCE, LEGAL_PERSON, COMMON]
        bodyVersion: {type: string}

    SealDeletePayload:
      type: object
      required: [action, sealId, sealName, sealCreateMode, bodyVersion, sealStatus]
      properties:
        action: {type: string, enum: [SEAL_DELETE]}
        sealId: {type: string}
        sealName: {type: string}
        sealCreateMode:
          type: string
          enum: [template, file, hand-draw]
        psnId: {type: string}
        orgId: {type: string}
        sealBizType:
          type: string
          enum: [PUBLIC, CONTRACT, FINANCE, PERSONNEL, LEGAL_PERSON, COMMON]
        bodyVersion: {type: string}
        sealStatus:
          type: string
          enum: [delete, revoke]
          description: delete-完全删除（未被使用过）；revoke-已吊销（用印记录保留）

    SignSealExamineRejectedPayload:
      type: object
      required: [action, timestamp, signFlowId, signOrder, rejectTime, rejectDescription, rejecter, operator]
      properties:
        action: {type: string, enum: [SIGN_SEAL_EXAMINE_REJECTED]}
        timestamp: {type: integer, format: int64}
        signFlowId: {type: string}
        signOrder: {type: integer}
        rejectTime: {type: integer, format: int64}
        rejectDescription: {type: string}
        rejecter:
          $ref: '#/components/schemas/SealAuditOperator'
        operator:
          $ref: '#/components/schemas/SealAuditOperator'
        organization:
          type: object
          properties:
            orgId: {type: string}
            orgName: {type: string}

    SealAuditOperator:
      type: object
      properties:
        psnId: {type: string}
        psnAccount:
          type: object
          properties:
            accountMobile: {type: string}
            accountEmail: {type: string}

security:
  - signatureAuth: []

paths:
  # ===== 个人印章 =====
  /v3/seals/psn-seal-create-url:
    post:
      tags: [个人印章]
      summary: 获取创建个人印章页面链接
      operationId: getPsnSealCreateUrl
      description: |
        提供可视化的页面（免登录），由个人用户选择印章的样式、内容等，创建个人印章。
        - 开发者可预设置印章的样式等其他参数，若不指定则可由用户在页面中选择。
        - 接口用于获取制作个人印章的页面地址，支持开发者将地址集成到内部系统当中访问。
        - 通过页面印章创建成功后，e签宝将会向开发者推送【创建印章通知】。
        前置条件：必须确保个人用户已授予平台appId获取其印章资源管理权限（manage_psn_resource）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PsnSealCreateUrlRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PsnSealCreateUrlResponse'
      x-error-codes:
        - {code: 1435203, message: "账号不存在或已注销 :%s"}
        - {code: 10000007, message: "参数错误 :%s"}

  /v3/seals/psn-seals-manage-url:
    post:
      tags: [个人印章]
      summary: 获取管理个人印章页面链接
      operationId: getPsnSealManageUrl
      description: |
        通过可视化页面（免登录）来操作管理个人印章。
        支持查看个人印章列表、创建印章、删除印章、设置默认印章、修改印章名称等操作。
        前置条件：必须确保个人用户已授予平台appId获取其印章资源管理权限（manage_psn_resource）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [psnId]
              properties:
                psnId:
                  type: string
                  description: 个人账号ID。用户在e签宝注册实名后才有账号ID。
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PsnSealManageUrlResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}

  /v3/seals/psn-seals/create-by-template:
    post:
      tags: [个人印章]
      summary: 创建个人模板印章
      operationId: createPsnSealByTemplate
      description: |
        使用e签宝提供的模板样式来制作个人印章。
        印章中的姓名为个人用户已实名认证的真实姓名。
        印章创建成功后，e签宝将会向开发者推送【创建印章通知】。
        前置条件：必须确保个人用户已授予平台appId获取其印章资源管理权限（manage_psn_resource）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PsnSealCreateByTemplateRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SealIdResponse'
      x-error-codes:
        - {code: 1000000, message: "%s / 同样样式的印章已存在，sealId：%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 31400142, message: "该账号不是个人账号，请使用个人账号。 oid=%s"}
        - {code: 31400131, message: "个人未实名，请先完成个人实名"}
        - {code: 31400122, message: "最多创建%s个印章"}
        - {code: 31400133, message: "印章名称已存在"}
        - {code: 1499000, message: "用户未授权： %s（用户id）, %s（scope）"}

  /v3/seals/psn-seals/create-by-image:
    post:
      tags: [个人印章]
      summary: 创建个人图片印章
      operationId: createPsnSealByImage
      description: |
        上传本地印章图片来创建个人印章。
        - 图片印章的初始状态为"待审核"，创建成功后需经过e签宝AI校验审核或人工审核（1-2个工作日），审核通过后状态变更为"已启用"。
        - 印章创建成功，e签宝将会向开发者推送【创建印章通知】。
        - 开发者可通过接收【图片印章审核结果通知】获取审核的结果。
        前置条件：必须确保个人用户已授予平台appId获取其印章资源管理权限（manage_psn_resource）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PsnSealCreateByImageRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SealIdResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 31400142, message: "该账号不是个人账号，请使用个人账号。 oid=%s"}
        - {code: 31400131, message: "个人未实名，请先完成个人实名"}
        - {code: 31400122, message: "最多创建%s个印章"}
        - {code: 31400139, message: "印章图片不能大于2M"}
        - {code: 31400140, message: "印章图片格式不正确，只支持jpg/jpeg/png/bmp"}
        - {code: 31400133, message: "印章名称已存在"}
        - {code: 1499000, message: "用户未授权： %s（用户id）, %s（scope）"}

  /v3/seals/psn-seal:
    delete:
      tags: [个人印章]
      summary: 删除个人印章
      operationId: deletePsnSeal
      description: |
        指定个人账号以及印章ID，删除个人印章。
        - 默认印章不可被删除；
        - 审核中的图片印章不可被删除；
        - 请谨慎操作，删除后的印章无法恢复。
        印章删除成功后，e签宝将会向开发者推送【删除印章通知】。
        前置条件：必须确保个人用户已授予平台appId获取其印章资源管理权限（manage_psn_resource）。
      parameters:
        - name: psnId
          in: query
          required: true
          schema: {type: string}
          description: 个人账号ID
        - name: sealId
          in: query
          required: true
          schema: {type: string}
          description: 印章ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 31400109, message: "印章不属于该账号"}
        - {code: 1499000, message: "用户未授权： %s（用户id）, %s（scope）"}

  /v3/seals/psn-seal-info:
    get:
      tags: [个人印章]
      summary: 查询指定印章详情（个人）
      operationId: getPsnSealInfo
      description: 查询个人账号下，指定印章的详细信息。
      parameters:
        - name: psnId
          in: query
          required: true
          schema: {type: string}
          description: 个人账号ID
        - name: sealId
          in: query
          required: true
          schema: {type: string}
          description: 印章编号
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PsnSealInfoResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 31400109, message: "印章不属于该账号"}
        - {code: 1499000, message: "用户未授权： %s（用户id）, %s（scope）"}

  /v3/seals/psn-seal-list:
    get:
      tags: [个人印章]
      summary: 查询个人印章列表
      operationId: listPsnSeals
      description: 查询个人账号下的印章列表信息。
      parameters:
        - name: psnId
          in: query
          required: true
          schema: {type: string}
          description: 个人账号ID
        - name: pageNum
          in: query
          required: true
          schema: {type: integer, format: int32}
          description: 查询页码
        - name: pageSize
          in: query
          required: true
          schema: {type: integer, format: int32, maximum: 20}
          description: 每页显示的数量，最大值：20
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PsnSealListResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 31410044, message: "分页查询印章列表异常，请重试或联系e签宝服务人员"}
        - {code: 1499000, message: "用户未授权： %s（用户id）, %s（scope）"}

  /v3/seals/psn-seals/set-default-seal:
    post:
      tags: [个人印章]
      summary: 设置个人默认印章
      operationId: setPsnDefaultSeal
      description: |
        个人用户在完成实名认证时，e签宝会为其生成一个默认印章。
        若需要将其他样式印章设置为默认印章时，可通过此接口进行设置。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [psnId, sealId]
              properties:
                psnId: {type: string, description: 个人账号ID}
                sealId: {type: string, description: 印章ID}
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 31400109, message: "印章不属于该账号"}
        - {code: 31400142, message: "该账号不是个人账号，请使用个人账号。 oid=%s"}
        - {code: 31400131, message: "个人未实名，请先完成个人实名"}
        - {code: 31400100, message: "印章不存在, 印章id=[%s]"}
        - {code: 1499000, message: "用户未授权： %s（用户id）, %s（scope）"}

  # ===== 机构印章 =====
  /v3/seals/org-seal-create-url:
    post:
      tags: [机构印章]
      summary: 获取创建机构印章页面链接
      operationId: getOrgSealCreateUrl
      description: |
        提供可视化的页面（免登录），由机构经办人选择印章的样式、内容等，来创建机构印章。
        - 开发者可预设置机构印章的样式等其他参数，若不指定则可由用户在页面中选择。
        - 接口用于获取制作机构印章的页面地址，支持开发者将地址集成到内部系统当中访问。
        - 通过页面印章创建成功后，e签宝将会向开发者推送【创建印章通知】。
        前置条件：必须确保企业用户已授予平台appId获取其印章资源管理的权限（manage_org_seal）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgSealCreateUrlRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgSealCreateUrlResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 31400141, message: "该账号不是企业账号，请使用企业账号。 oid=%s"}
        - {code: 31400137, message: "企业未实名，请先完成企业实名"}
        - {code: 31400142, message: "该账号不是个人账号，请使用个人账号。 oid=%s"}
        - {code: 31400131, message: "个人未实名，请先完成个人实名"}
        - {code: 31401002, message: "用户不属于该企业"}

  /v3/seals/legal-rep-seal-create-url:
    post:
      tags: [机构印章]
      summary: 获取创建法定代表人印章页面链接
      operationId: getLegalRepSealCreateUrl
      description: |
        提供可视化的页面（免登录），由机构经办人选择印章的样式、内容等，来创建机构的法定代表人印章。
        - 开发者可预设置印章的样式等其他参数，若不指定则可由经办人在页面中选择。
        - 接口用于获取制作印章的页面地址，支持开发者将地址集成到内部系统当中访问。
        - 通过页面印章创建成功后，e签宝将会向开发者推送【创建印章通知】。
        建议由法定代表人本人操作，否则其他人需要在页面里给法定代表人发送授权书。
        前置条件：必须确保企业用户已授予平台appId获取其印章资源管理的权限（manage_org_seal）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegalRepSealCreateUrlRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalRepSealCreateUrlResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 31400141, message: "该账号不是企业账号，请使用企业账号。 oid=%s"}
        - {code: 31400137, message: "企业未实名，请先完成企业实名"}
        - {code: 31400142, message: "该账号不是个人账号，请使用个人账号。 oid=%s"}
        - {code: 31400131, message: "个人未实名，请先完成个人实名"}
        - {code: 31401002, message: "用户不属于该企业"}

  /v3/seals/org-seals-manage-url:
    post:
      tags: [机构印章]
      summary: 获取管理机构印章页面链接
      operationId: getOrgSealManageUrl
      description: |
        通过可视化的页面（免登录）来操作管理机构印章。
        - 【印章管理】支持查看企业印章列表、创建企业印章、查看印章详情、删除企业印章；
        - 【授权管理】支持新增印章授权（包括对企业内成员或外部企业）、查看印章授权信息、以及查看被其他跨企业授权印章信息。
        前置条件：必须确保企业用户已授予平台appId获取其印章资源管理的权限（manage_org_seal）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orgId, transactorPsnId]
              properties:
                orgId: {type: string, description: 机构账号ID}
                transactorPsnId:
                  type: string
                  description: 机构经办人账号ID，必须确保经办人在该机构的成员中拥有印章管理权限。
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgSealManageUrlResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 31400141, message: "该账号不是企业账号，请使用企业账号。 oid=%s"}
        - {code: 31400137, message: "企业未实名，请先完成企业实名"}
        - {code: 31400142, message: "该账号不是个人账号，请使用个人账号。 oid=%s"}
        - {code: 31400131, message: "个人未实名，请先完成个人实名"}
        - {code: 31401002, message: "用户不属于该企业"}

  /v3/seals/org-seals/create-by-template:
    post:
      tags: [机构印章]
      summary: 创建机构模板印章
      operationId: createOrgSealByTemplate
      description: |
        使用e签宝提供的模板样式来制作机构印章。
        印章创建成功后，e签宝将会向开发者推送【创建印章通知】。
        前置条件：必须确保企业用户已授予平台appId获取其印章资源管理权限（manage_org_seal）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgSealCreateByTemplateRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SealIdResponse'
      x-error-codes:
        - {code: 1000000, message: "%s / 同样样式的印章已存在，sealId：%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 31400141, message: "该账号不是企业，请使用企业账号。 oid=%s"}
        - {code: 31400137, message: "企业未实名，请先完成企业实名"}
        - {code: 31400122, message: "最多创建%s个印章"}
        - {code: 31400133, message: "印章名称已存在"}
        - {code: 1499000, message: "用户未授权： %s（用户id）, %s（scope）"}

  /v3/seals/org-seals/create-by-image:
    post:
      tags: [机构印章]
      summary: 创建机构图片印章
      operationId: createOrgSealByImage
      description: |
        上传本地印章图片来创建机构印章。
        - 图片印章的初始状态为"待审核"，创建成功后需经过e签宝AI校验审核或人工审核（1-2个工作日），审核通过后状态变更为"已启用"。
        - 印章创建成功，e签宝将会向开发者推送【创建印章通知】。
        - 开发者可通过接收【图片印章审核结果通知】获取审核的结果。
        前置条件：必须确保企业用户已授予平台appId获取其印章资源管理权限（manage_org_seal）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgSealCreateByImageRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SealIdResponse'
      x-error-codes:
        - {code: 1000000, message: "%s / 同样样式的印章已存在，sealId：%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 31400141, message: "该账号不是企业，请使用企业账号。 oid=%s"}
        - {code: 31400137, message: "企业未实名，请先完成企业实名"}
        - {code: 31400122, message: "最多创建%s个印章"}
        - {code: 31400133, message: "印章名称已存在"}
        - {code: 31400139, message: "印章图片不能大于2M"}
        - {code: 31400140, message: "印章图片格式不正确，只支持jpg/jpeg/png/bmp"}
        - {code: 1499000, message: "用户未授权： %s（用户id）, %s（scope）"}

  /v3/seals/org-seal:
    delete:
      tags: [机构印章]
      summary: 删除机构印章
      operationId: deleteOrgSeal
      description: |
        指定机构账号以及印章ID，来删除机构印章。
        - 请谨慎操作，删除后印章相关的授权记录将会一并删除，且无法恢复。
        - 企业默认印章不可被删除（默认印章只有一个）；
        - 审核中的图片印章不可被删除；
        - e签宝自动创建的非默认印章可以删除，但不会触发回调通知。
        前置条件：必须确保企业用户已授予平台appId获取其印章资源管理的权限（manage_org_seal）。
      parameters:
        - name: orgId
          in: query
          required: true
          schema: {type: string}
          description: 机构账号ID
        - name: sealId
          in: query
          required: true
          schema: {type: string}
          description: 印章ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgSealDeleteResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 31400109, message: "印章不属于该账号"}
        - {code: 1499000, message: "用户未授权： %s（用户id）, %s（scope）"}

  /v3/seals/org-seal-info:
    get:
      tags: [机构印章]
      summary: 查询企业指定印章详情
      operationId: getOrgSealInfo
      description: 指定具体的机构印章（只支持企业内部印章，不包含授权的印章），查询印章详细信息。
      parameters:
        - name: orgId
          in: query
          required: true
          schema: {type: string}
          description: 机构账号ID
        - name: sealId
          in: query
          required: true
          schema: {type: string}
          description: 印章编号
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgSealInfoResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 31400109, message: "印章不属于该账号"}
        - {code: 1499000, message: "用户未授权： %s（用户id）, %s（scope）"}

  /v3/seals/org-own-seal-list:
    get:
      tags: [机构印章]
      summary: 查询企业内部印章
      operationId: listOrgOwnSeals
      description: 查询 orgId（机构企业）名下自身创建的内部自有企业印章，包括印章的编号、名称、状态、印章业务类型、印章图片下载地址等信息。
      parameters:
        - name: orgId
          in: query
          required: true
          schema: {type: string}
          description: 机构账号ID
        - name: pageNum
          in: query
          required: true
          schema: {type: integer, format: int32}
          description: 查询页码
        - name: pageSize
          in: query
          required: true
          schema: {type: integer, format: int32, maximum: 20}
          description: 每页显示的数量，最大值：20
        - name: sealBizTypes
          in: query
          required: false
          schema: {type: string}
          description: 印章业务类型（多项可使用英文逗号分隔）PUBLIC/CONTRACT/FINANCE/PERSONNEL/LEGAL_PERSON/COMMON
        - name: revocationSeal
          in: query
          required: false
          schema: {type: boolean, default: false}
          description: 是否需要查询已吊销印章，默认不查询。曾经有用印记录的印章删除后即为已吊销状态。
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgSealListResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 31410044, message: "分页查询印章列表异常，请重试或联系e签宝服务人员"}
        - {code: 1499000, message: "用户未授权： %s（用户id）, %s（scope）"}

  /v3/seals/org-seals/enable-seal:
    post:
      tags: [机构印章]
      summary: 启用机构印章
      operationId: enableOrgSeal
      description: 当印章被停用后，可以通过该接口重新启用印章。启用后，印章变成可用状态。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orgId, sealId]
              properties:
                orgId: {type: string, description: 机构账号ID}
                sealId: {type: string, description: 印章ID}
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 1435203, message: "账号不存在或已注销 :%s"}
        - {code: 31400100, message: "印章不存在, 印章id=[%s]"}
        - {code: 31400109, message: "印章不属于该账号"}
        - {code: 1499000, message: "用户未授权： %s（用户id）, %s（scope）"}

  /v3/seals/org-seals/disable-seal:
    post:
      tags: [机构印章]
      summary: 停用机构印章
      operationId: disableOrgSeal
      description: 当机构某业务短暂终止时，可将对应印章通过该接口停用，避免后续误用。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orgId, sealId]
              properties:
                orgId: {type: string, description: 机构账号ID}
                sealId: {type: string, description: 印章ID}
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 1435203, message: "账号不存在或已注销 :%s"}
        - {code: 31400100, message: "印章不存在, 印章id=[%s]"}
        - {code: 31400109, message: "印章不属于该账号"}
        - {code: 1499000, message: "用户未授权： %s（用户id）, %s（scope）"}

  /v3/seals/org-seals/set-default-seal:
    post:
      tags: [机构印章]
      summary: 设置机构默认印章
      operationId: setOrgDefaultSeal
      description: |
        机构用户在完成实名认证时，e签宝会为企业生成4个印章（包括：公章、合同专用章、财务专用章、人事专用章），
        其中的公章作为企业默认印章，如需更改默认印章，可通过此接口进行设置。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orgId, sealId]
              properties:
                orgId: {type: string, description: 机构账号ID}
                sealId: {type: string, description: 新的默认印章ID}
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}
        - {code: 31400109, message: "印章不属于该账号"}
        - {code: 31400141, message: "该账号不是企业账号，请使用企业账号。 oid=%s"}
        - {code: 31400137, message: "企业未实名，请先完成企业实名"}
        - {code: 31400100, message: "印章不存在, 印章id=[%s]"}
        - {code: 1499000, message: "用户未授权： %s（用户id）, %s（scope）"}

  # ===== 印章图片上传 =====
  /v3/files/file-key:
    post:
      tags: [印章图片上传]
      summary: 上传印章图片（获取上传地址）
      operationId: getSealImageUploadUrl
      description: |
        用于获取上传印章图片文件的服务端地址 fileUploadUrl 和印章图片 fileKey。
        上传本地印章图片需按顺序两步操作：
        步骤一：调用本接口获取 fileUploadUrl 和 fileKey；
        步骤二：使用 HTTP PUT 将图片二进制流上传至 fileUploadUrl（Content-MD5 与 Content-Type 须与步骤一一致）。
        支持 jpg/jpeg/png/bmp 格式，图片大小需控制在 2M 以内。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contentMd5, contentType, fileName, fileSize]
              properties:
                contentMd5:
                  type: string
                  description: 文件的Content-MD5值（128位二进制 Base64 编码）
                contentType:
                  type: string
                  description: 目标文件的MIME类型，固定值 application/octet-stream
                  enum: [application/octet-stream]
                fileName:
                  type: string
                  description: |
                    本地印章图片文件名称（含扩展名）。扩展名只能为 .png/.jpg/.jpeg/.bmp。
                fileSize:
                  type: integer
                  format: int64
                  description: 印章图片大小，单位 byte
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SealImageUploadInfoResponse'
      x-error-codes:
        - {code: 1000000, message: "%s"}
        - {code: 10000001, message: "系统异常，请重试或联系e签宝服务人员"}
        - {code: 10000007, message: "参数错误 :%s"}

  # ===== 印章授权 =====
  /v3/seals/org-seals/internal-auth:
    post:
      tags: [印章授权]
      summary: 内部成员印章授权
      operationId: authorizeInternalSeal
      description: |
        企业法定代表人/企业管理员将企业印章授予内部成员相关权限。需要签署《电子印章授权书》或做印章授权意愿认证，接口返回授权操作链接。
        - 被授权成员须确保已加入到印章所属企业组织下；
        - 当需要签署《电子印章授权书》时，开发者可集成返回的授权书签署链接或使用e签宝自带的短信通知；
        - 当需要做印章授权意愿认证时，没有e签宝短信通知，只能开发者应用系统中集成或单独发给企业管理员/法定代表人操作；
        - 授权操作人必须为该企业成员，建议为当前企业管理员或法定代表人；
        - 触发 SEAL_AUTH_EFFICTIVE 回调通知（授权生效时）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternalSealAuthRequest'
      responses:
        '200':
          description: 授权操作成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalSealAuthResponse'
    get:
      tags: [印章授权]
      summary: 查询对内部成员印章授权详情
      operationId: queryInternalSealAuth
      description: |
        查询企业内部的印章授权相关信息。
        - 指定 sealId 查询：查询拥有该印章权限的内部成员等信息；
        - 指定 authorizedPsnId 查询：查询该成员所拥有的所有印章权限；
        - 均不指定时：默认查询企业下所有的印章授权记录。
      parameters:
        - name: orgId
          in: query
          required: true
          schema: {type: string}
          description: 机构账号ID
        - name: sealId
          in: query
          required: false
          schema: {type: string}
          description: 印章ID（印章编号），不传则默认查询全部企业印章
        - name: authorizedPsnId
          in: query
          required: false
          schema: {type: string}
          description: 被授权成员账号ID，不传则默认查询全部企业成员
        - name: pageNum
          in: query
          required: true
          schema: {type: integer, format: int32}
        - name: pageSize
          in: query
          required: true
          schema: {type: integer, format: int32, maximum: 20}
          description: 每页显示数量，最大值：20
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalSealAuthDetailResponse'

  /v3/seals/org-seals/external-auth:
    post:
      tags: [印章授权]
      summary: 跨企业印章授权
      operationId: authorizeExternalSeal
      description: |
        委托单位将企业印章授权给外部企业时，接口可用于获取《电子印章跨企业委托使用授权书》的签署链接。
        - 跨企业印章签署的文件所展示的对应签名信息、印章样式和数字证书均为授权企业（委托机构）所有；
        - 适用场景：集团分总企业、关联合作企业等；
        - 自2024-11-20起支持一次授权多个印章（sealIds），旧字段 sealId 已弃用；
        - 触发 SEAL_AUTH_EFFICTIVE 回调通知（授权生效时）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalSealAuthRequest'
      responses:
        '200':
          description: 跨企业授权成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalSealAuthResponse'
    get:
      tags: [印章授权]
      summary: 查询对外部企业印章授权详情
      operationId: queryExternalSealAuth
      description: |
        查询对外部企业的印章授权信息。
        - 指定 sealId 查询：查询该印章所有的跨企业授权信息；
        - 指定 authorizedOrgId 查询：查询对该企业的所有印章授权信息；
        - 同时指定 sealId 和 authorizedOrgId：查询该印章对某企业的授权详情。
      parameters:
        - name: orgId
          in: query
          required: true
          schema: {type: string}
          description: 机构账号ID（委托单位）
        - name: sealId
          in: query
          required: false
          schema: {type: string}
          description: 印章ID（与 authorizedOrgId 至少二选一）
        - name: authorizedOrgId
          in: query
          required: false
          schema: {type: string}
          description: 被授权机构账号ID（与 sealId 至少二选一）
        - name: pageNum
          in: query
          required: true
          schema: {type: integer, format: int32}
        - name: pageSize
          in: query
          required: true
          schema: {type: integer, format: int32, maximum: 20}
          description: 每页显示数量，最大值：20
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalSealAuthDetailResponse'

  /v3/seals/org-seals/reauthorization:
    post:
      tags: [印章授权]
      summary: 修改印章授权期限
      operationId: reauthorizeSeal
      description: |
        基于原印章授权（企业内授权或跨企业）所保留的授权业务流程编号（包含已过期的流程），重新修改印章授权的有效期限。
        - 通过接口重新修改授权有效期后，授权操作人需重新签署授权书；
        - 通过接口重新修改授权有效期后，原有保留的授权业务流程编号、授权书签署链接将失效。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SealReauthorizationRequest'
      responses:
        '200':
          description: 修改授权期限成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SealReauthorizationResponse'

  /v3/seals/org-seals/auth-delete:
    post:
      tags: [印章授权]
      summary: 解除印章授权
      operationId: deleteSealAuthorization
      description: |
        解除机构印章的授权（内部成员或跨企业）。
        - 通过印章编号解除授权（deleteType=sealIds）：印章对应内部成员和跨企业的授权将一并解除；
        - 通过业务流程编号解除授权（deleteType=sealAuthBizIds）：可对单方解除授权；
        - 解除成功后会触发 SEAL_AUTH_CALCEL 回调通知。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SealAuthDeleteRequest'
      responses:
        '200':
          description: 解除授权成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /v3/seals/org-seals/authorization-sign-url:
    get:
      tags: [印章授权]
      summary: 查询印章授权书签署链接
      operationId: getSealAuthorizationSignUrl
      description: |
        当原授权书的签署链接失效或未签署完成，可重新获取授权书签署链接。
        支持查询：
        - 印章授权企业内部成员时，《电子签章授权书》的签署链接；
        - 跨企业印章授权时，《电子印章跨企业委托使用授权书》的签署链接。
      parameters:
        - name: orgId
          in: query
          required: true
          schema: {type: string}
          description: 机构账号ID（委托单位）
        - name: sealAuthBizId
          in: query
          required: true
          schema: {type: string}
          description: 授权业务流程编号（通过内部/跨企业授权接口获取）
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SealAuthSignUrlResponse'

  /v3/seals/org-authorized-seal-list:
    get:
      tags: [印章授权]
      summary: 查询被外部企业授权印章
      operationId: listAuthorizedSeals
      description: 查询 orgId（机构企业）名下被外部其他机构企业所授权的印章，包括印章编号、名称、授权机构、印章业务类型、授权失效时间、印章图片下载地址等。
      parameters:
        - name: orgId
          in: query
          required: true
          schema: {type: string}
          description: 被授权方机构账号ID（受托单位）
        - name: authorizerOrgId
          in: query
          required: false
          schema: {type: string}
          description: 授权方机构账号ID（委托单位）
        - name: pageNum
          in: query
          required: true
          schema: {type: integer, format: int32}
        - name: pageSize
          in: query
          required: true
          schema: {type: integer, format: int32, maximum: 20}
          description: 每页显示的数量，最大值：20
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizedSealListResponse'

# ===== webhooks =====
webhooks:
  SEAL_AUTH_EFFICTIVE:
    post:
      tags: [印章回调]
      summary: 印章授权生效通知
      operationId: onSealAuthEffictive
      description: |
        当印章授权书签署完成或印章授权意愿认证完成后，并到了发起授权时指定的授权生效时间时触发。
        - 含 authorizedPsnId 字段表示内部成员授权；
        - 含 authorizedOrgId 字段表示跨企业授权；
        - 平台批量印章授权时 sealId 返回 CURRENT_ALL。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SealAuthEffictivePayload'
      responses:
        '200':
          description: 开发者接收成功，需返回固定字符串 success

  SEAL_AUTH_SIGN:
    post:
      tags: [印章回调]
      summary: 印章授权操作完成通知
      operationId: onSealAuthSign
      description: |
        当印章授权书签署完成或印章授权意愿认证完成后触发。
        注意：印章授权设置的生效时间可能是签署授权书之后的某个时间，所以授权操作完成不代表当前时间已生效。
        2024-11-19 起，原"印章授权书签署完成通知"更名为"印章授权操作完成通知"。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SealAuthSignPayload'
      responses:
        '200':
          description: 开发者接收成功

  SEAL_AUTH_NEARLY_EXPIRED:
    post:
      tags: [印章回调]
      summary: 印章授权即将过期通知
      operationId: onSealAuthNearlyExpired
      description: e签宝在印章授权失效时间提前 7 天和提前 1 天发送此回调。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SealAuthExpirePayload'
      responses:
        '200':
          description: 开发者接收成功

  SEAL_AUTH_INEFFICTIVE:
    post:
      tags: [印章回调]
      summary: 印章授权失效通知
      operationId: onSealAuthInefficitive
      description: 当超过设置的印章授权有效期导致印章授权失效时触发。authStatus 固定为 0。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SealAuthExpirePayload'
      responses:
        '200':
          description: 开发者接收成功

  SEAL_AUTH_CALCEL:
    post:
      tags: [印章回调]
      summary: 解除印章授权通知
      operationId: onSealAuthCancel
      description: 当授权方机构主动解除企业内部成员或跨企业印章授权时触发。authStatus 固定为 2（已删除）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SealAuthExpirePayload'
      responses:
        '200':
          description: 开发者接收成功

  SEAL_AUDIT:
    post:
      tags: [印章回调]
      summary: 图片印章审核结果通知
      operationId: onSealAudit
      description: 创建图片印章后经过 e签宝 人工审核，审核反馈结果时触发。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SealAuditPayload'
      responses:
        '200':
          description: 开发者接收成功

  SEAL_CREATE:
    post:
      tags: [印章回调]
      summary: 创建印章通知
      operationId: onSealCreate
      description: 印章创建成功后触发，含 psnId 表示个人印章，含 orgId 表示机构印章。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SealCreatePayload'
      responses:
        '200':
          description: 开发者接收成功

  SEAL_DELETE:
    post:
      tags: [印章回调]
      summary: 删除印章通知
      operationId: onSealDelete
      description: 印章被删除后触发。sealStatus=delete 表示完全删除（未被使用过），sealStatus=revoke 表示已吊销（用印记录保留）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SealDeletePayload'
      responses:
        '200':
          description: 开发者接收成功

  SIGN_SEAL_EXAMINE_REJECTED:
    post:
      tags: [印章回调]
      summary: 用印审批驳回通知
      operationId: onSignSealExamineRejected
      description: 在签署流程中，某个签署任务需要用印审批，当用印审批被驳回时触发。同一签署任务若有多个印章审批均被驳回则触发多次。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignSealExamineRejectedPayload'
      responses:
        '200':
          description: 开发者接收成功

# ===== 印章服务全部错误码（按 endpoint 汇总） =====
x-error-codes:
  - code: 1000000
    message: "%s（通用业务异常，含同样样式印章已存在等场景）"
    endpoint: 印章服务多数接口
  - code: 10000001
    message: 系统异常，请重试或联系e签宝服务人员
    endpoint: 印章服务所有接口
  - code: 10000007
    message: "参数错误 :%s（含被授权人不存在或不在当前组织等场景）"
    endpoint: 印章服务所有接口
  - code: 1435203
    message: "账号不存在或已注销 :%s"
    endpoints:
      - /v3/seals/psn-seal-create-url
      - /v3/seals/org-seals/enable-seal
      - /v3/seals/org-seals/disable-seal
  - code: 1499000
    message: "用户未授权： %s（用户id）, %s（scope）"
    endpoint: 印章服务所有需要授权的接口
  - code: 31400004
    message: 该印章授权数量已达上限，请先删除再新增
    endpoints:
      - /v3/seals/org-seals/internal-auth
      - /v3/seals/org-seals/external-auth
  - code: 31400011
    message: "授权记录不存在 :%s"
    endpoint: /v3/seals/org-seals/auth-delete
  - code: 31400012
    message: "该授权记录属于管理员或法人，无法删除 :%s"
    endpoint: /v3/seals/org-seals/auth-delete
  - code: 31400013
    message: 授权企业未实名
    endpoints:
      - /v3/seals/org-seals/internal-auth
      - /v3/seals/org-seals/external-auth
  - code: 31400014
    message: "用户id：%s 由于接口版本问题不可用，请让用户重新实名认证"
    endpoints:
      - /v3/seals/org-seals/internal-auth
      - /v3/seals/org-seals/external-auth
  - code: 31400015
    message: 印章已被删除或正在审核中或待领取，无法创建授权记录
    endpoints:
      - /v3/seals/org-seals/internal-auth
      - /v3/seals/org-seals/external-auth
  - code: 31400100
    message: "印章不存在, 印章id=[%s]"
    endpoints:
      - /v3/seals/psn-seals/set-default-seal
      - /v3/seals/org-seals/set-default-seal
      - /v3/seals/org-seals/enable-seal
      - /v3/seals/org-seals/disable-seal
  - code: 31400109
    message: 印章不属于该账号
    endpoints:
      - /v3/seals/psn-seal-info
      - /v3/seals/psn-seals/set-default-seal
      - /v3/seals/psn-seal
      - /v3/seals/org-seal-info
      - /v3/seals/org-seals/set-default-seal
      - /v3/seals/org-seal
      - /v3/seals/org-seals/enable-seal
      - /v3/seals/org-seals/disable-seal
      - /v3/seals/org-seals/internal-auth
      - /v3/seals/org-seals/external-auth
  - code: 31400122
    message: "最多创建%s个印章"
    endpoints:
      - /v3/seals/psn-seals/create-by-template
      - /v3/seals/psn-seals/create-by-image
      - /v3/seals/org-seals/create-by-template
      - /v3/seals/org-seals/create-by-image
  - code: 31400124
    message: 签署链接获取失败：授权记录不属于该机构
    endpoints:
      - /v3/seals/org-seals/authorization-sign-url
      - /v3/seals/org-seals/reauthorization
  - code: 31400125
    message: 签署链接获取失败：授权记录不存在
    endpoints:
      - /v3/seals/org-seals/authorization-sign-url
      - /v3/seals/org-seals/reauthorization
  - code: 31400131
    message: 个人未实名，请先完成个人实名
    endpoints:
      - /v3/seals/psn-seals/create-by-template
      - /v3/seals/psn-seals/create-by-image
      - /v3/seals/psn-seals/set-default-seal
      - /v3/seals/org-seal-create-url
      - /v3/seals/org-seals-manage-url
      - /v3/seals/legal-rep-seal-create-url
  - code: 31400133
    message: 印章名称已存在
    endpoints:
      - /v3/seals/psn-seals/create-by-template
      - /v3/seals/psn-seals/create-by-image
      - /v3/seals/org-seals/create-by-template
      - /v3/seals/org-seals/create-by-image
  - code: 31400137
    message: 企业未实名，请先完成企业实名
    endpoints:
      - /v3/seals/org-seals/create-by-template
      - /v3/seals/org-seals/create-by-image
      - /v3/seals/org-seals/set-default-seal
      - /v3/seals/org-seal-create-url
      - /v3/seals/org-seals-manage-url
      - /v3/seals/legal-rep-seal-create-url
  - code: 31400139
    message: 印章图片不能大于2M
    endpoints:
      - /v3/seals/psn-seals/create-by-image
      - /v3/seals/org-seals/create-by-image
  - code: 31400140
    message: 印章图片格式不正确，只支持jpg/jpeg/png/bmp
    endpoints:
      - /v3/seals/psn-seals/create-by-image
      - /v3/seals/org-seals/create-by-image
  - code: 31400141
    message: "该账号不是企业（账号），请使用企业账号。 oid=%s"
    endpoints:
      - /v3/seals/org-seals/create-by-template
      - /v3/seals/org-seals/create-by-image
      - /v3/seals/org-seals/set-default-seal
      - /v3/seals/org-seal-create-url
      - /v3/seals/org-seals-manage-url
      - /v3/seals/legal-rep-seal-create-url
  - code: 31400142
    message: "该账号不是个人账号，请使用个人账号。 oid=%s"
    endpoints:
      - /v3/seals/psn-seals/create-by-template
      - /v3/seals/psn-seals/create-by-image
      - /v3/seals/psn-seals/set-default-seal
      - /v3/seals/org-seal-create-url
      - /v3/seals/org-seals-manage-url
      - /v3/seals/legal-rep-seal-create-url
  - code: 31401001
    message: 当前操作人既不是管理员也不是法人，无权操作
    endpoints:
      - /v3/seals/org-seals/internal-auth
      - /v3/seals/org-seals/external-auth
  - code: 31401002
    message: 用户不属于该企业
    endpoints:
      - /v3/seals/org-seal-create-url
      - /v3/seals/org-seals-manage-url
      - /v3/seals/legal-rep-seal-create-url
  - code: 31401003
    message: 该账号未实名，请先完成实名认证
    endpoints:
      - /v3/seals/org-seals/internal-auth
      - /v3/seals/org-seals/external-auth
  - code: 31401005
    message: "账号不存在 :%s"
    endpoints:
      - /v3/seals/org-seals/internal-auth
      - /v3/seals/org-seals/external-auth
  - code: 31410001
    message: 获取用户信息异常，请重试或联系e签宝服务人员
    endpoints:
      - /v3/seals/org-seals/authorization-sign-url
      - /v3/seals/org-seals/internal-auth (GET 查询)
      - /v3/seals/org-seals/external-auth (GET 查询)
      - /v3/seals/org-seals/reauthorization
  - code: 31410019
    message: 获取组织信息异常，请重试或联系e签宝服务人员
    endpoint: /v3/seals/org-seals/auth-delete
  - code: 31410022
    message: 获取企业模板信息异常，请重试或联系e签宝服务人员
    endpoints:
      - /v3/seals/org-seals/internal-auth
      - /v3/seals/org-seals/external-auth
  - code: 31410044
    message: 分页查询印章列表异常，请重试或联系e签宝服务人员
    endpoints:
      - /v3/seals/psn-seal-list
      - /v3/seals/org-own-seal-list
      - /v3/seals/org-authorized-seal-list
  - code: 72000046
    message: "请求参数错误: 授权主体oid不能为空"
    endpoint: /v3/seals/org-seals/auth-delete
  - code: 72000051
    message: "组织架构不存在. %s"
    endpoint: /v3/seals/org-seals/external-auth (GET 查询)
